/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
}

/* Header */
header {
}
#head {
    height: 4rem;
    padding-top: 1rem;
    padding-right: 1rem;
    color: white;
    background-color: rgb(0, 96, 160);
    margin-bottom: 2rem;
}

#head img {
    height: 4rem;
}

/* navigation */
nav {
    background-color: #f6f6f6;
    border: 1px solid rgb(0, 96, 160);
    padding: 0.5rem;
    margin: 0.5rem;
}

nav ul {
    list-style: none;
}
nav li > ul {
    margin-left: 1rem;
}

nav a:hover {
    text-decoration: none;
}
nav a, nav a:visited {
    text-decoration: underline;
    color: rgb(0, 96, 160);
}

#language li::before {
    content: "";
    width: 1rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    display: inline-block;
}

#language .fr::before {
    background: url("../img/flag-fr.svg");
    background-size: 100%;
}
#language .it::before {
    background: url("../img/flag-it.svg");
    background-size: 100%;
}
#language .en::before {
    background: url("../img/flag-en.svg");
    background-size: 100%;
}

/* Heading numbering */
main {
    counter-reset: h3counter;
}
main h3::before {
    counter-increment: h3counter;
    content: counter(h3counter) " "
}

/* headings */
h2, h3, h4, p {
    margin-bottom: 1rem;
}

h3 {
    border-bottom: 1px solid black;
}

/* images */
.left {
    display: block;
    float: left;
    margin-right: 2rem;
}
.left, .left img {
    max-width: 15rem;
}
figure figcaption{
    word-break: break-all;
    color: gray;
}

figure {
    margin-bottom: 2rem;
}

/* text */

a:hover {
    text-decoration: none;
}
a, a:visited {
    text-decoration: underline;
    color: black;
}


/* lists */



/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}
